/* ./styles/globals.css */
@font-face {
  font-family: "MadeMirage";
  src: local("MadeMirage"),
    url(../../public/fonts/MADEMirage-Black.otf) format("truetype");
}
@font-face {
  font-family: "BaksoSapi";
  src: local("BaksoSapi"),
    url(../../public/fonts/BaksoSapi.otf) format("truetype");
}
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  :root {
    /* --first-color: #bbcfd2; */
    --first-color: #42acd9;
    --second-color: #99beca;
    --third-color: #044062;
    --fourth-color: #41acd8;
    --fifth-color: #2f88c0;
    --sixth-color: #5fbcd6;
    --seventh-color: #def0f0;
    --eigth-color: #a6d7e6;
    --nineth-color: #ff9e9b;
    --tenth-color: #7cf8fa;
    /*--eleventh-color: #bf1623;
    --twelveth-color: #1a171b;
    --header-color: #20233e;
    --header-border-color: #48597e;
    --body-color: #222649;
    --footer-color: #464646;
    --title-color: #1a171b;
    --input-color: #c8c8c8; */
    --main-font-family: MadeMirage, sans-serif;
    --component-font-family: BaksoSapi, sans-serif;
  }

  .main-font {
    font-family: var(--main-font-family);
  }
  .component-font {
    font-family: var(--component-font-family);
  }

  /*extra tailwind*/
  .tracking-2 {
    letter-spacing: 0.2em;
  }
  .transform-center {
    transform: translate(-50%, 0);
  }
  .transform-centerXY {
    transform: translate(-50%, -50%);
  }
  .h-110 {
    height: 30rem;
  }
  .w-110 {
    width: 30rem;
  }
  .w-400 {
    width: 400px;
  }
  .w-500 {
    width: 500px;
  }
  .w-600 {
    width: 600px;
  }
  .w-700 {
    width: 700px;
  }
  .w-800 {
    width: 800px;
  }
  .w-900 {
    width: 900px;
  }
  .w-1000 {
    width: 1000px;
  }
  .fixed-i {
    position: fixed !important;
  }
  /*background*/
  .bg-first-color {
    background-color: var(--first-color);
  }
  .bg-second-color {
    background-color: var(--second-color);
  }
  .bg-third-color {
    background-color: var(--third-color);
  }
  .bg-fourth-color {
    background-color: var(--fourth-color);
  }
  .bg-fifth-color {
    background-color: var(--fifth-color);
  }
  .bg-seventh-color {
    background-color: var(--seventh-color);
  }
  .bg-eigth-color {
    background-color: var(--eigth-color);
  }
  .bg-nineth-color {
    background-color: var(--nineth-color);
  }
  .bg-tenth-color {
    background-color: var(--tenth-color);
  }
  .color-third-color {
    color: var(--third-color);
  }
  .color-sixth-color {
    color: var(--sixth-color);
  }
  .color-nineth-color {
    color: var(--nineth-color);
  }
  .opacity {
    opacity: 0.8;
  }

  /*text-rounded*/
  .text-rounded h1 {
    font-size: 48px;
    text-align: center;
    position: absolute;
    left: 50%;
    /* I think this works for centering? */
    top: calc(50% - 48px);
    -webkit-transform: translate(-50%, calc(-50% - 48px));
    -ms-transform: translate(-50%, calc(-50% - 48px));
    transform: translate(-50%, calc(-50% - 48px));
  }
  .text-rounded h1 span {
    position: absolute;
  }

  /*class wave*/

  .Wave {
    /* width: 8500px; */
    /* width: 5000px; */
    /* width:200%; */
    animation: wave linear 10s infinite;
    fill: #4fc3f7;
  }

  @keyframes wave {
    0% {
      transform: translateX(0%);
    }
    50% {
      transform: translateX(-25%);
    }
  }

  .tw-animate-bounce {
    animation: bouncetw 1s infinite;
  }

  @keyframes bouncetw {
    0%,
    100% {
      transform: translateY(-25%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: translateY(0);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }

  .animate-bounce-down {
    -webkit-animation: bounce-down 1.6s linear infinite;
    animation: bounce-down 1.6s linear infinite;
  }

  @keyframes bounce-down {
    25% {
      transform: translateY(-4px);
    }
    50%,
    100% {
      transform: translateY(0);
    }
    75% {
      transform: translateY(4px);
    }
  }

  .bubble {
    /* width: 8500px; */
    /* width: 5000px; */
    /* width:200%; */
    height: 200%;
    animation: bubble linear 10s infinite;
  }

  @keyframes bubble {
    0% {
      transform: translateY(0%);
    }
    100% {
      transform: translateY(-25%);
    }
  }

  .animate-arrowDuo {
    animation: arrowDuo 5s infinite;
    animation-delay: 2s;
  }
  @keyframes arrowDuo {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .animate-arrowBig {
    animation: arrowBig 5s infinite;
    animation-delay: 1s;
  }
  @keyframes arrowBig {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .animate-arrowSmall {
    animation: arrowSmall 5s infinite;
    animation-delay: 1.5s;
  }
  @keyframes arrowSmall {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .radar{
    transform:scale(0);
    animation:radar 1.2s ease-in 0s infinite;
  }
  @keyframes radar {
    from{
      transform:scale(0);
    }
    to{
      transform:scale(1);
    }
  }
}
